<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NLog" version="4.3.5" targetFramework="net461" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net461" />
  <package id="Objectivity.Test.Automation.Common.Features" version="3.1.7" targetFramework="net461" />
  <package id="Objectivity.Test.Automation.Common.MsTest" version="3.1.7" targetFramework="net461" />
  <package id="Selenium.Support" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.38.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.20.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.12.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.4.0" targetFramework="net461" />
  <package id="SpecFlow.MsTest" version="2.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>